.analyses {
  td.outcome-best {
    background-color: @outcome-best;
  }

  td.outcome-good {
    background-color: @outcome-good;
  }

  td.outcome-average {
    background-color: @outcome-average;
  }

  td.outcome-bad {
    background-color: @outcome-bad;
  }
}