<div class="row">
   <div class="col-xs-12">
      <div class="panel panel-default">
         <div class="panel-heading">{{ 'classifiers.classifiers' | translate }}</div>
         <div class="panel-body">
            <div class="table-responsive">
               <table class="table table-striped table-bordered">
                  <thead>
                     <tr>
                        <th>Klasyfikator</th>
                        <th>Trafność gospodarza (%)</th>
                        <th>Trafność remisu (%)</th>
                        <th>Trafność gościa (%)</th>
                        <th>Średnia trafność (%)</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr data-ng-repeat="analyse in analyses">
                        <td>{{ analyse.name }}</td>
                        <td>{{ (analyse.home_accuracy | number : 2) * 100 }}</td>
                        <td>{{ (analyse.draw_accuracy | number : 2) * 100 }}</td>
                        <td>{{ (analyse.away_accuracy | number : 2) * 100 }}</td>
                        <td>{{ (analyse.mean_accuracy | number : 2) * 100 }}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="form-group">
               <label>Wybierz klasyfikator</label>
               <select data-ng-model="selectedClassifier" data-ng-options="analyse.name for analyse in analyses" class="form-control"></select>
            </div>
         </div>
      </div>
   </div>
</div>