<div class="row">
   <div class="col-xs-12">
      <div class="panel panel-info">
         <div class="panel-body">
            <div class="row">
               <div class="col-xs-12 text-center">{{ match.home_team.name }} {{ match.home_score }}:{{ match.away_score }} {{ match.away_team.name }}
                  <br />{{ match.datetime | date : 'MMM d, y HH:mm ' }}</div>
            </div>
         </div>
      </div>
   </div>
</div>
<div data-ng-if="analysisChart" class="row">
   <div class="col-xs-12">
      <div class="panel panel-info">
         <div class="panel-heading">Prognoza</div>
         <div class="panel-body">
            <div class="row">
               <div class="col-xs-3 text-center">
                  <canvas tc-chartjs-doughnut="tc-chartjs-doughnut" chart-options="analysisChart.options" chart-data="analysisChart.data"></canvas>
               </div>
               <div class="col-xs-9">
                  <p style="margin-top: 30px">
                     <div style="background-color: #F7464A; height: 15px; width: 15px; margin-left: 40px; float: left; margin-right: 5px; position: relative; top: 1px"></div>Wygrana gospodarzy</p>
                  <p>
                     <div style="background-color: #46BFBD; height: 15px; width: 15px; margin-left: 40px; float: left; margin-right: 5px; position: relative; top: 1px"></div>Remis</p>
                  <p>
                     <div style="background-color: #FDB45C; height: 15px; width: 15px; margin-left: 40px; float: left; margin-right: 5px; position: relative; top: 1px"></div>Wygrana gości</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div data-ng-if="!analysisChart" class="row">
   <div class="col-md-6">
      <div class="panel panel-default">
         <div class="panel-heading">Piłkarze - gospodarze</div>
         <div class="panel-body">
            <div class="table-responsive">
               <table class="table">
                  <thead>
                     <tr>
                        <th>{{ 'common.name' | translate }}</th>
                        <th>{{ 'common.rating' | translate }}</th>
                        <th>{{ 'matches.goals' | translate }}</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr data-ng-repeat="player in home_players">
                        <td><a data-ui-sref="app.player({id: player.id})">{{ player.player.full_name }}</a>
                        </td>
                        <td>{{ player.rating }}</td>
                        <td>{{ player.goals }}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-6">
      <div class="panel panel-default">
         <div class="panel-heading">Piłkarze - goście</div>
         <div class="panel-body">
            <div class="table-responsive">
               <table class="table">
                  <thead>
                     <tr>
                        <th>{{ 'common.name' | translate }}</th>
                        <th>{{ 'common.rating' | translate }}</th>
                        <th>{{ 'matches.goals' | translate }}</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr data-ng-repeat="player in away_players">
                        <td><a data-ui-sref="app.player({id: player.id})">{{ player.player.full_name }}</a>
                        </td>
                        <td>{{ player.rating }}</td>
                        <td>{{ player.goals }}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-xs-12">
      <div class="panel panel-default">
         <div class="panel-heading">Ostatnie spotkania bezpośrednie</div>
         <div class="panel-body">
            <div class="table-responsive">
               <table class="table">
                  <thead>
                     <tr>
                        <th>{{ 'competitions.competitions' | translate }}</th>
                        <th>{{ 'common.date' | translate }}</th>
                        <th></th>
                        <th></th>
                        <th></th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr data-ng-repeat="match in previous_matches">
                        <td>{{ match.league_season.league.name }} {{ match.league_season.season.name }}</td>
                        <td>{{ match.datetime | date : 'dd-MM-yyyy' }}</td>
                        <td class="text-right"><a data-ui-sref="app.team({id: match.home_team.id})">{{ match.home_team.name }}</a>
                        </td>
                        <td class="text-center"><a data-ui-sref="app.match({id: match.id})">{{ match.home_score }} : {{ match.away_score }}</a>
                        </td>
                        <td class="text-left"><a data-ui-sref="app.team({id: match.away_team.id})">{{ match.away_team.name }}</a>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>