<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">{{ 'players.players' | translate }}</div>
         <div class="panel-body">
            <div class="table-responsive">
               <table show-filter="true" data-ng-table="tableParams" class="table table-striped table-bordered table-hover">
                  <tbody>
                     <tr data-ng-repeat="player in $data">
                        <td data-title="'Name'" filter="{'full_name': 'text' }" sortable="'full_name'"><a data-ui-sref="app.player({id: player.id})">{{ player.full_name }}</a>
                        </td>
                        <td data-title="'Current team'" filter="{'current_team': 'text'}" sortable="'current_team.name'">{{ player.current_team.name }}</td>
                        <td data-title="'Nationality'" filter="{'nationality': 'text'}" sortable="'nationality.name'">{{ player.nationality.name }}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>