<div class="row">
   <div class="col-xs-12">
      <div class="panel panel-default">
         <div class="panel-body">
            <table show-filter="true" data-ng-table="tableParams" class="table table-striped table-bordered analyses">
               <tbody>
                  <tr data-ng-repeat="outcome in $data">
                     <td data-title="'Data'" class="text-center">{{ outcome.match.datetime | date : 'dd-MM-yyyy' }}</td>
                     <td data-title="'Liga'" filter="{'league': 'text' }" class="text-center">{{ outcome.match.league_season.league.name }}</td>
                     <td data-title="'Mecz'" class="text-center"><a data-ui-sref="app.match({id: outcome.match.id})">{{ outcome.match.home_team.name }} - {{ outcome.match.away_team.name }}</a>
                     </td>
                     <td data-ng-class="{'outcome-best': outcome.home_win_outcome &gt;= 0.7,'outcome-good': outcome.home_win_outcome &gt;= 0.50 &amp;&amp; outcome.home_win_outcome &lt; 0.7,'outcome-average': outcome.home_win_outcome &gt;= 0.30 &amp;&amp; outcome.home_win_outcome &lt; 0.5,'outcome-bad': outcome.home_win_outcome &lt; 0.3}"
                     data-title="'1'" sortable="'home_win_outcome'" class="text-center">{{ ((outcome.home_win_outcome | number : 2) * 100) | number: 0 }}</td>
                     <td data-ng-class="{'outcome-best': outcome.draw_outcome &gt;= 0.7,'outcome-good': outcome.draw_outcome &gt;= 0.50 &amp;&amp; outcome.draw_outcome &lt; 0.7,'outcome-average': outcome.draw_outcome &gt;= 0.30 &amp;&amp; outcome.draw_outcome &lt; 0.5,'outcome-bad': outcome.draw_outcome &lt; 0.3}"
                     data-title="'x'" sortable="'draw_outcome'" class="text-center">{{ ((outcome.draw_outcome | number : 2) * 100) | number : 0 }}</td>
                     <td data-ng-class="{'outcome-best': outcome.away_win_outcome &gt;= 0.7,'outcome-good': outcome.away_win_outcome &gt;= 0.50 &amp;&amp; outcome.away_win_outcome &lt; 0.7,'outcome-average': outcome.away_win_outcome &gt;= 0.30 &amp;&amp; outcome.away_win_outcome &lt; 0.5,'outcome-bad': outcome.away_win_outcome &lt; 0.3}"
                     data-title="'2'" sortable="'away_win_outcome'" class="text-center">{{ ((outcome.away_win_outcome | number : 2) * 100) | number : 0 }}</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>