<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">{{ 'profile.update_profile' | translate }}</div>
         <div class="panel-body">
            <div class="row">
               <div class="col-lg-12">
                  <form role="form" data-ng-submit="updateProfile(profileForm)" name="profileForm">
                     <fieldset>
                        <div class="form-group">
                           <label for="first_name">{{ 'user.username' | translate }}</label>
                           <input id="username" name="username" data-ng-model="user.username" disabled="disabled" class="form-control" />
                        </div>
                        <div class="form-group">
                           <label for="first_name">{{ 'user.first_name' | translate }}</label>
                           <input id="first_name" name="first_name" data-ng-model="user.first_name" class="form-control" />
                        </div>
                        <p data-ng-repeat="error in errors.first_name" class="text-danger">{{ error }}</p>
                        <div class="form-group">
                           <label for="last_name">{{ 'user.last_name' | translate }}</label>
                           <input id="last_name" name="last_name" data-ng-model="user.last_name" class="form-control" />
                        </div>
                        <p data-ng-repeat="error in errors.last_name" class="text-danger">{{ error }}</p>
                        <div class="form-group">
                           <label for="email">{{ 'user.username' | translate }}</label>
                           <input id="email" name="email" data-ng-model="user.email" class="form-control" />
                        </div>
                        <p data-ng-repeat="error in errors.email" class="text-danger">{{ error }}</p>
                        <p data-ng-repeat="error in errors.non_field_errors" class="text-danger text-center">{{ error }}</p>
                        <button type="submit" class="btn btn-primary">{{ 'form.save' | translate }}</button>
                     </fieldset>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>