<div class="row">
   <div class="col-lg-12">
      <div class="row">
         <div class="col-xs-12">
            <form class="form-horizontal">
               <div class="form-group">
                  <label class="control-label col-xs-2">{{ country.name }}</label>
                  <div class="col-xs-5">
                     <select data-ng-model="selectedLeague" data-ng-options="league.name for league in leagues" class="form-control">
                        <option value="">{{ 'competitions.competitions' | translate }}</option>
                     </select>
                  </div>
                  <div class="col-xs-5">
                     <select data-ng-disabled="!selectedLeague" data-ng-model="selectedSeason" data-ng-options="season.name for season in selectedLeague.seasons" class="form-control">
                        <option value="">{{ 'seasons.season' | translate }}</option>
                     </select>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <div data-ng-if="standings" class="row">
         <div class="col-xs-12">
            <div class="panel panel-default">
               <div class="panel-body">
                  <tabset type="pills">
                     <tab heading="{{ &quot;matches.overall&quot; | translate }}" select="sortOverallStandings()">
                        <div class="table-responsive">
                           <table class="table">
                              <thead>
                                 <tr>
                                    <th>{{ 'matches.pos' | translate }}</th>
                                    <th>{{ 'teams.team' | translate }}</th>
                                    <th>{{ 'matches.p' | translate }}</th>
                                    <th>{{ 'matches.w' | translate }}</th>
                                    <th>{{ 'matches.d' | translate }}</th>
                                    <th>{{ 'matches.l' | translate }}</th>
                                    <th>{{ 'matches.pts' | translate }}</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr data-ng-repeat="team in standings">
                                    <td>{{ $index + 1 }}</td>
                                    <td><a data-ui-sref="app.team({id: team.id})">{{ team.name }}</a>
                                    </td>
                                    <td>{{ team.played }}</td>
                                    <td>{{ team.won }}</td>
                                    <td>{{ team.draw }}</td>
                                    <td>{{ team.lost }}</td>
                                    <td>{{ team.points }}</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </tab>
                     <tab heading="{{ &quot;matches.home&quot; | translate }}" select="sortHomeStandings()">
                        <div class="table-responsive">
                           <table class="table">
                              <thead>
                                 <tr>
                                    <th>{{ 'matches.pos' | translate }}</th>
                                    <th>{{ 'teams.team' | translate }}</th>
                                    <th>{{ 'matches.p' | translate }}</th>
                                    <th>{{ 'matches.w' | translate }}</th>
                                    <th>{{ 'matches.d' | translate }}</th>
                                    <th>{{ 'matches.l' | translate }}</th>
                                    <th>{{ 'matches.pts' | translate }}</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr data-ng-repeat="team in standings">
                                    <td>{{ $index + 1 }}</td>
                                    <td><a data-ui-sref="app.team({id: team.id})">{{ team.name }}</a>
                                    </td>
                                    <td>{{ team.home_played }}</td>
                                    <td>{{ team.home_won }}</td>
                                    <td>{{ team.home_draw }}</td>
                                    <td>{{ team.home_lost }}</td>
                                    <td>{{ team.home_points }}</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </tab>
                     <tab heading="{{ &quot;matches.away&quot; | translate }}" select="sortAwayStandings()">
                        <div class="table-responsive">
                           <table class="table">
                              <thead>
                                 <tr>
                                    <th>{{ 'matches.pos' | translate }}</th>
                                    <th>{{ 'teams.team' | translate }}</th>
                                    <th>{{ 'matches.p' | translate }}</th>
                                    <th>{{ 'matches.w' | translate }}</th>
                                    <th>{{ 'matches.d' | translate }}</th>
                                    <th>{{ 'matches.l' | translate }}</th>
                                    <th>{{ 'matches.pts' | translate }}</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr data-ng-repeat="team in standings">
                                    <td>{{ $index + 1 }}</td>
                                    <td><a data-ui-sref="app.team({id: team.id})">{{ team.name }}</a>
                                    </td>
                                    <td>{{ team.away_played }}</td>
                                    <td>{{ team.away_won }}</td>
                                    <td>{{ team.away_draw }}</td>
                                    <td>{{ team.away_lost }}</td>
                                    <td>{{ team.away_points }}</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </tab>
                  </tabset>
               </div>
            </div>
         </div>
      </div>
      <div data-ng-show="standings" class="row">
         <div class="col-xs-12">
            <form class="form-horizontal">
               <div class="form-group">
                  <div class="col-xs-6">
                     <select data-ng-model="selectedYear" data-ng-options="year.year for year in availableYears" class="form-control">
                        <option value="">{{ 'common.year' | translate }}</option>
                     </select>
                  </div>
                  <div class="col-xs-6">
                     <select data-ng-disabled="!selectedYear" data-ng-model="selectedWeek" data-ng-options="week for week in selectedYear.weeks" class="form-control">
                        <option value="">{{ 'common.week' | translate }}</option>
                     </select>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <div data-ng-show="matches" class="row">
         <div class="col-xs-12">
            <div class="panel panel-default">
               <div class="panel-body">
                  <div class="table-responsive">
                     <table class="table">
                        <thead>
                           <tr>
                              <th>{{ 'common.date' | translate }}</th>
                              <th></th>
                              <th></th>
                              <th></th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr data-ng-repeat="match in matches">
                              <td>{{ match.datetime | date : 'dd-MM-yyyy, H:mm' }}</td>
                              <td class="text-right"><a data-ui-sref="app.team({id: match.home_team.id})">{{ match.home_team.name }}</a>
                              </td>
                              <td class="text-center"><a data-ui-sref="app.match({id: match.id})">{{ match.home_score }}:{{ match.away_score }}</a>
                              </td>
                              <td class="text-left"><a data-ui-sref="app.team({id: match.away_team.id})">{{ match.away_team.name }}</a>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>