<!DOCTYPE html>
<html lang="pl" data-ng-app="surebet">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">
   <title>SureBet | {{ currentPageTitle }}</title>
   <link href="static/css/bootstrap.min.css" rel="stylesheet">
   <link href="static/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
   <link href="static/css/sb-admin-2.css" rel="stylesheet">
   <link href="static/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
   <link href="static/css/plugins/loading-bar.css" rel="stylesheet">
   <link href="static/css/plugins/toaster.css" rel="stylesheet">
   <link href="static/css/app.css" rel="stylesheet">
   <link href="static/css/ng-table.css" rel="stylesheet">
</head>

<body>
   <div data-ui-view class="mainViewAnimation"></div>
   <script src="static/js/jquery.js"></script>
   <script src="static/js/bootstrap.min.js"></script>
   <script src="static/js/sb-admin-2.js"></script>
   <script src="static/js/plugins/metisMenu/metisMenu.min.js"></script>
   <script src="static/js/base.js"></script>
   <script src="static/js/app.js"></script>
</body>

</html>