<div class="row">
   <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">{{ 'login.title' | translate }}</h3>
         </div>
         <div class="panel-body">
            <form role="form" data-ng-submit="login(loginForm)" name="loginForm">
               <fieldset>
                  <div class="form-group">
                     <input data-ng-model="user.username" placeholder="{{ 'user.username' | translate }}" name="user" type="text" autofocus="autofocus" class="form-control" />
                  </div>
                  <p data-ng-repeat="error in errors.username" class="text-danger">{{ error }}</p>
                  <div class="form-group">
                     <input data-ng-model="user.password" placeholder="{{ 'user.password' | translate }}" name="password" type="password" value="" class="form-control" />
                  </div>
                  <p data-ng-repeat="error in errors.password" class="text-danger">{{ error }}</p>
                  <p data-ng-repeat="error in errors.non_field_errors" class="text-danger">{{ error }}</p>
                  <div class="form-group">
                     <button type="submit" class="btn btn-lg btn-success btn-block">{{ 'login.login' | translate }}</button>
                  </div><a ui-sref="page.registration">{{ 'login.not_registered' | translate }}</a>
               </fieldset>
            </form>
         </div>
      </div>
   </div>
</div>