<div class="row">
   <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">{{ 'registration.registration' | translate }}</h3>
         </div>
         <div class="panel-body">
            <form role="form" data-ng-submit="registerNewUser(registrationForm)" name="registrationForm">
               <fieldset>
                  <toaster-container></toaster-container>
                  <div class="form-group">
                     <label for="username">{{ 'user.username' | translate }}</label>
                     <input data-ng-model="user.username" name="username" id="username" type="text" autofocus="autofocus" class="form-control" />
                  </div>
                  <p data-ng-repeat="error in errors.username" class="text-danger">{{ error }}</p>
                  <div class="form-group">
                     <label for="first_name">{{ 'user.first_name' | translate }}</label>
                     <input id="first_name" name="first_name" data-ng-model="user.first_name" class="form-control" />
                  </div>
                  <p data-ng-repeat="error in errors.first_name" class="text-danger">{{ error }}
                     <div class="form-group">
                        <label for="last_name">{{ 'user.last_name' | translate }}</label>
                        <input id="last_name" name="last_name" data-ng-model="user.last_name" class="form-control" />
                     </div>
                     <p data-ng-repeat="error in errors.last_name" class="text-danger">{{ error }}</p>
                     <div class="form-group">
                        <label for="email">{{ 'user.email' | translate }}</label>
                        <input id="email" name="email" data-ng-model="user.email" class="form-control" />
                     </div>
                     <p data-ng-repeat="error in errors.email" class="text-danger">{{ error }}</p>
                     <div class="form-group">
                        <label for="password">{{ 'user.password' | translate }}</label>
                        <input id="password" name="password" data-ng-model="user.password" type="password" class="form-control" />
                     </div>
                     <p data-ng-repeat="error in errors.password" class="text-danger">{{ error }}</p>
                     <p data-ng-repeat="error in errors.non_field_errors" class="text-center text-danger">{{ error }}</p>
                     <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-success btn-block">{{ 'registration.register' | translate }}</button>
                     </div><a ui-sref="page.login">{{ 'registration.back_to_login' | translate }}</a>
                  </p>
               </fieldset>
            </form>
         </div>
      </div>
   </div>
</div>