<div class="navbar-header">
   <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
   </button><a data-ui-sref="app.dashboard" class="navbar-brand">SureBet</a>
</div>
<ul data-ng-controller="NotificationsController" class="nav navbar-top-links navbar-right">
   <li class="dropdown"><a data-toggle="dropdown" href="" class="dropdown-toggle"><i class="fa fa-bell fa-fw"></i><i class="fa fa-caret-down"></i></a>
      <ul class="dropdown-menu dropdown-alerts">
         <li data-ng-class="{'background-gray': notification.unread == true}" data-ng-repeat="notification in notifications" data-ui-sref="app.notification({id: notification.id})">
            <a href="">
               <div><i data-ng-if="notification.level=='success'" class="fa fa-check fa-fw"></i><i data-ng-if="notification.level=='info'" class="fa fa-info fa-fw"></i> {{ notification.description | truncate : 20 : '...' }}
                  <span class="pull-right text-muted small">{{ notification.timestamp | date: 'MMM d, H:mm' }}</span>
               </div>
            </a>
         </li>
         <li class="divider"></li>
         <li>
            <a data-ui-sref="app.notifications" class="text-center">
               <strong>{{ 'notifications.see_all' | translate }}</strong>
            </a>
         </li>
      </ul>
   </li>
   <li class="dropdown"><a data-toggle="dropdown" href="" class="dropdown-toggle"><i class="fa fa-user fa-fw"></i> {{ loggedUser.email }}&nbsp;<i class="fa fa-caret-down"></i></a>
      <ul data-ng-controller="AccountController" class="dropdown-menu dropdown-user">
         <li><a href="" data-ui-sref="app.profile"><i class="fa fa-user fa-fw"></i> {{ 'profile.user_profile' | translate }}</a>
         </li>
         <li class="divider"></li>
         <li><a href="" data-ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> {{ 'login.logout' | translate }}</a>
         </li>
      </ul>
   </li>
</ul>