doctype html
html(lang='pl', data-ng-app='surebet')

    head
        include views/partials/_head

    body
        div(data-ui-view, class='mainViewAnimation')
        include views/partials/_scripts