#wrapper

   nav(class='navbar navbar-default navbar-static-top', role='navigation', style='margin-bottom: 0')
      div(data-ng-include="'templates/views/partials/top-navbar.html'")
      div(data-ng-include="'templates/views/partials/sidebar.html'")

   #page-wrapper
      toaster-container
      .row
         .col-lg-12
            h1.page-header {{ currentPageTitle }}
      div(data-ui-view='')