.row
    .col-xs-12
        div(class='panel panel-default')
            .panel-heading
                | {{ 'classifiers.classifiers' | translate }}
            .panel-body
                .table-responsive
                    table(class="table table-striped table-bordered")
                        thead
                            tr
                                th Klasyfikator
                                th Trafność gospodarza (%)
                                th Trafność remisu (%)
                                th Trafność gościa (%)
                                th Średnia trafność (%)
                        tbody
                            tr(data-ng-repeat="analyse in analyses")
                                td {{ analyse.name }}
                                td {{ (analyse.home_accuracy | number : 2) * 100 }}
                                td {{ (analyse.draw_accuracy | number : 2) * 100 }}
                                td {{ (analyse.away_accuracy | number : 2) * 100 }}
                                td {{ (analyse.mean_accuracy | number : 2) * 100 }}

                .form-group
                    label Wybierz klasyfikator
                    select(class='form-control' data-ng-model='selectedClassifier' data-ng-options='analyse.name for analyse in analyses')

