.row
    .col-md-9
        div(class='panel panel-default')
            .panel-heading {{ 'predictions.highest_predictions' | translate }}
            .panel-body
                table(class='table table-striped table-bordered analyses')
                    thead
                        tr
                            th(class='text-center') {{ 'common.date' | translate }}
                            th(class='text-center') {{ 'leagues.league' | translate }}
                            th(class='text-center' colspan=3) {{ 'matches.match' | translate }}
                            th(class='text-center') 1
                            th(class='text-center') x
                            th(class='text-center') 2
                    tbody
                        tr(data-ng-repeat="outcome in highestOutcomes")
                            td(class='text-center') {{ outcome.match.datetime | date : 'dd-MM-yyyy' }}
                            td(class='text-center') {{ outcome.match.league_season.league.name }}
                            td(colspan=3 class='text-center')
                                a(data-ui-sref='app.match({id: outcome.match.id})') {{ outcome.match.home_team.name }} - {{ outcome.match.away_team.name }}
                            td(class='text-center'
                                data-ng-class="{'outcome-best': outcome.home_win_outcome >= 0.7," +
                                "'outcome-good': outcome.home_win_outcome >= 0.50 && outcome.home_win_outcome < 0.7," +
                                "'outcome-average': outcome.home_win_outcome >= 0.30 && outcome.home_win_outcome < 0.5," +
                                "'outcome-bad': outcome.home_win_outcome < 0.3" +
                                "}"
                            )
                                | {{ ((outcome.home_win_outcome | number : 2) * 100) | number: 0 }}
                            td(class='text-center'
                                data-ng-class="{'outcome-best': outcome.draw_outcome >= 0.7," +
                                "'outcome-good': outcome.draw_outcome >= 0.50 && outcome.draw_outcome < 0.7," +
                                "'outcome-average': outcome.draw_outcome >= 0.30 && outcome.draw_outcome < 0.5," +
                                "'outcome-bad': outcome.draw_outcome < 0.3" +
                                "}"
                            )
                                | {{ ((outcome.draw_outcome | number : 2) * 100) | number : 0 }}
                            td(class='text-center'
                                data-ng-class="{'outcome-best': outcome.away_win_outcome >= 0.7," +
                                "'outcome-good': outcome.away_win_outcome >= 0.50 && outcome.away_win_outcome < 0.7," +
                                "'outcome-average': outcome.away_win_outcome >= 0.30 && outcome.away_win_outcome < 0.5," +
                                "'outcome-bad': outcome.away_win_outcome < 0.3" +
                                "}"
                            )
                                | {{ ((outcome.away_win_outcome | number : 2) * 100) |  number : 0 }}