.row
   .col-xs-12
      div(class='panel panel-info')
         .panel-body
            .row
               div(class='col-xs-12 text-center')
                  | {{ match.home_team.name }} {{ match.home_score }}:{{ match.away_score }} {{ match.away_team.name }}<br />{{ match.datetime | date : 'MMM d, y HH:mm ' }}
.row(data-ng-if='analysisChart')
   .col-xs-12
      div(class='panel panel-info')
         .panel-heading
            | Prognoza
         .panel-body
            .row
               div(class='col-xs-3 text-center')
                  canvas(tc-chartjs-doughnut chart-options="analysisChart.options" chart-data="analysisChart.data")
               div(class='col-xs-9')
                  p(style='margin-top: 30px')
                     div(style='background-color: #F7464A; height: 15px; width: 15px; margin-left: 40px; float: left; margin-right: 5px; position: relative; top: 1px')
                     | Wygrana gospodarzy
                  p
                     div(style='background-color: #46BFBD; height: 15px; width: 15px; margin-left: 40px; float: left; margin-right: 5px; position: relative; top: 1px')
                     | Remis
                  p
                     div(style='background-color: #FDB45C; height: 15px; width: 15px; margin-left: 40px; float: left; margin-right: 5px; position: relative; top: 1px')
                     | Wygrana gości
.row(data-ng-if='!analysisChart')
   .col-md-6
      div(class='panel panel-default')
         .panel-heading
            | Piłkarze - gospodarze
         .panel-body
            .table-responsive
               table(class='table')
                  thead
                     tr
                        th {{ 'common.name' | translate }}
                        th {{ 'common.rating' | translate }}
                        th {{ 'matches.goals' | translate }}
                  tbody
                     tr(data-ng-repeat='player in home_players')
                        td
                           a(data-ui-sref='app.player({id: player.id})') {{ player.player.full_name }}
                        td {{ player.rating }}
                        td {{ player.goals }}
   .col-md-6
      div(class='panel panel-default')
         .panel-heading
            | Piłkarze - goście
         .panel-body
            .table-responsive
               table(class='table')
                  thead
                     tr
                        th {{ 'common.name' | translate }}
                        th {{ 'common.rating' | translate }}
                        th {{ 'matches.goals' | translate }}
                  tbody
                     tr(data-ng-repeat='player in away_players')
                        td
                           a(data-ui-sref='app.player({id: player.id})') {{ player.player.full_name }}
                        td {{ player.rating }}
                        td {{ player.goals }}
.row
   .col-xs-12
      div(class='panel panel-default')
         .panel-heading
            | Ostatnie spotkania bezpośrednie
         .panel-body
            .table-responsive
               table(class='table')
                  thead
                     tr
                        th {{ 'competitions.competitions' | translate }}
                        th {{ 'common.date' | translate }}
                        th
                        th
                        th
                  tbody
                     tr(data-ng-repeat='match in previous_matches')
                        td {{ match.league_season.league.name }} {{ match.league_season.season.name }}
                        td {{ match.datetime | date : 'dd-MM-yyyy' }}
                        td(class='text-right')
                           a(data-ui-sref='app.team({id: match.home_team.id})') {{ match.home_team.name }}
                        td(class='text-center')
                           a(data-ui-sref='app.match({id: match.id})') {{ match.home_score }} : {{ match.away_score }}
                        td(class='text-left')
                           a(data-ui-sref='app.team({id: match.away_team.id})') {{ match.away_team.name }}