.row
    .col-lg-12
        div(class='panel panel-default')
         .panel-body
             .row()
                .col-lg-10 {{ notification.description }}
                .col-lg-2 {{ notification.timestamp | date: 'MMM d, H:mm'  }}
