.row
    .col-lg-12
        div(class='panel panel-default')
            .panel-heading {{ 'players.players' | translate }}
            .panel-body
                .table-responsive
                    table(class='table table-striped table-bordered table-hover', show-filter="true", data-ng-table='tableParams')
                        tbody
                            tr(data-ng-repeat="player in $data")
                                td(data-title="'Name'", filter="{'full_name': 'text' }", sortable="'full_name'")
                                    a(data-ui-sref="app.player({id: player.id})") {{ player.full_name }}
                                td(data-title="'Current team'", filter="{'current_team': 'text'}", sortable="'current_team.name'") {{ player.current_team.name }}
                                td(data-title="'Nationality'", filter="{'nationality': 'text'}", sortable="'nationality.name'") {{ player.nationality.name }}
