.row
    .col-xs-12
        div(class='panel panel-default')
            .panel-body
                table(class='table table-striped table-bordered analyses' show-filter="true" data-ng-table='tableParams')
                    tbody
                        tr(data-ng-repeat="outcome in $data")
                            td(class='text-center' data-title="'Data'") {{ outcome.match.datetime | date : 'dd-MM-yyyy' }}
                            td(class='text-center' data-title="'Liga'" filter="{'league': 'text' }") {{ outcome.match.league_season.league.name }}
                            td(class='text-center' data-title="'Mecz'")
                                a(data-ui-sref='app.match({id: outcome.match.id})') {{ outcome.match.home_team.name }} - {{ outcome.match.away_team.name }}
                            td(class='text-center'
                            data-ng-class="{'outcome-best': outcome.home_win_outcome >= 0.7," +
                            "'outcome-good': outcome.home_win_outcome >= 0.50 && outcome.home_win_outcome < 0.7," +
                            "'outcome-average': outcome.home_win_outcome >= 0.30 && outcome.home_win_outcome < 0.5," +
                            "'outcome-bad': outcome.home_win_outcome < 0.3" +
                            "}"
                            data-title="'1'" sortable="'home_win_outcome'")
                                | {{ ((outcome.home_win_outcome | number : 2) * 100) | number: 0 }}
                            td(class='text-center'
                            data-ng-class="{'outcome-best': outcome.draw_outcome >= 0.7," +
                            "'outcome-good': outcome.draw_outcome >= 0.50 && outcome.draw_outcome < 0.7," +
                            "'outcome-average': outcome.draw_outcome >= 0.30 && outcome.draw_outcome < 0.5," +
                            "'outcome-bad': outcome.draw_outcome < 0.3" +
                            "}"
                            data-title="'x'" sortable="'draw_outcome'")
                                | {{ ((outcome.draw_outcome | number : 2) * 100) | number : 0 }}
                            td(class='text-center'
                            data-ng-class="{'outcome-best': outcome.away_win_outcome >= 0.7," +
                            "'outcome-good': outcome.away_win_outcome >= 0.50 && outcome.away_win_outcome < 0.7," +
                            "'outcome-average': outcome.away_win_outcome >= 0.30 && outcome.away_win_outcome < 0.5," +
                            "'outcome-bad': outcome.away_win_outcome < 0.3" +
                            "}"
                            data-title="'2'" sortable="'away_win_outcome'")
                                | {{ ((outcome.away_win_outcome | number : 2) * 100) |  number : 0 }}