.row
   .col-lg-12
      div(class='panel panel-default')
         .panel-heading {{ 'profile.update_profile' | translate }}
         .panel-body
            .row
               .col-lg-12
                  form(role='form', data-ng-submit='updateProfile(profileForm)', name='profileForm')
                     fieldset
                        .form-group
                           label(for='first_name') {{ 'user.username' | translate }}
                           input(
                              class='form-control',
                              id='username',
                              name='username',
                              data-ng-model='user.username',
                              disabled
                           )
                        .form-group
                           label(for='first_name') {{ 'user.first_name' | translate }}
                           input(
                              class='form-control',
                              id='first_name',
                              name='first_name',
                              data-ng-model='user.first_name'
                           )
                        p(data-ng-repeat='error in errors.first_name', class='text-danger') {{ error }}
                        .form-group
                           label(for='last_name') {{ 'user.last_name' | translate }}
                           input(
                              class='form-control',
                              id='last_name',
                              name='last_name',
                              data-ng-model='user.last_name'
                           )
                        p(data-ng-repeat='error in errors.last_name', class='text-danger') {{ error }}
                        .form-group
                           label(for='email') {{ 'user.username' | translate }}
                           input(
                              class='form-control',
                              id='email',
                              name='email',
                              data-ng-model='user.email'
                           )
                        p(data-ng-repeat='error in errors.email', class='text-danger') {{ error }}
                        p(data-ng-repeat='error in errors.non_field_errors', class='text-danger text-center') {{ error }}
                        button(type='submit', class='btn btn-primary') {{ 'form.save' | translate }}