.row
   .col-lg-12
      .row
         .col-xs-12
            form(class='form-horizontal')
               .form-group
                  label(class='control-label col-xs-2') {{ country.name }}
                  div(class='col-xs-5')
                     select(class='form-control' data-ng-model='selectedLeague' data-ng-options='league.name for league in leagues')
                        option(value="") {{ 'competitions.competitions' | translate }}
                  div(class='col-xs-5')
                     select(class='form-control' data-ng-disabled='!selectedLeague' data-ng-model='selectedSeason' data-ng-options='season.name for season in selectedLeague.seasons')
                        option(value="") {{ 'seasons.season' | translate }}
      .row(data-ng-if='standings')
         .col-xs-12
            div(class='panel panel-default')
               .panel-body
                  tabset(type='pills')
                     tab(heading='{{ "matches.overall" | translate }}' select='sortOverallStandings()')
                        .table-responsive
                           table(class='table')
                              thead
                                 tr
                                    th {{ 'matches.pos' | translate }}
                                    th {{ 'teams.team' | translate }}
                                    th {{ 'matches.p' | translate }}
                                    th {{ 'matches.w' | translate }}
                                    th {{ 'matches.d' | translate }}
                                    th {{ 'matches.l' | translate }}
                                    th {{ 'matches.pts' | translate }}
                              tbody
                                 tr(data-ng-repeat='team in standings')
                                    td {{ $index + 1 }}
                                    td
                                       a(data-ui-sref='app.team({id: team.id})') {{ team.name }}
                                    td {{ team.played }}
                                    td {{ team.won }}
                                    td {{ team.draw }}
                                    td {{ team.lost }}
                                    td {{ team.points }}
                     tab(heading='{{ "matches.home" | translate }}' select='sortHomeStandings()')
                        .table-responsive
                           table(class='table')
                              thead
                                 tr
                                    th {{ 'matches.pos' | translate }}
                                    th {{ 'teams.team' | translate }}
                                    th {{ 'matches.p' | translate }}
                                    th {{ 'matches.w' | translate }}
                                    th {{ 'matches.d' | translate }}
                                    th {{ 'matches.l' | translate }}
                                    th {{ 'matches.pts' | translate }}
                              tbody
                                 tr(data-ng-repeat='team in standings')
                                    td {{ $index + 1 }}
                                    td
                                       a(data-ui-sref='app.team({id: team.id})') {{ team.name }}
                                    td {{ team.home_played }}
                                    td {{ team.home_won }}
                                    td {{ team.home_draw }}
                                    td {{ team.home_lost }}
                                    td {{ team.home_points }}
                     tab(heading='{{ "matches.away" | translate }}' select='sortAwayStandings()')
                        .table-responsive
                           table(class='table')
                              thead
                                 tr
                                    th {{ 'matches.pos' | translate }}
                                    th {{ 'teams.team' | translate }}
                                    th {{ 'matches.p' | translate }}
                                    th {{ 'matches.w' | translate }}
                                    th {{ 'matches.d' | translate }}
                                    th {{ 'matches.l' | translate }}
                                    th {{ 'matches.pts' | translate }}
                              tbody
                                 tr(data-ng-repeat='team in standings')
                                    td {{ $index + 1 }}
                                    td
                                       a(data-ui-sref='app.team({id: team.id})') {{ team.name }}
                                    td {{ team.away_played }}
                                    td {{ team.away_won }}
                                    td {{ team.away_draw }}
                                    td {{ team.away_lost }}
                                    td {{ team.away_points }}
      .row(data-ng-show='standings')
         .col-xs-12
            form(class='form-horizontal')
               .form-group
                  div(class='col-xs-6')
                     select(class='form-control' data-ng-model='selectedYear' data-ng-options='year.year for year in availableYears')
                        option(value="") {{ 'common.year' | translate }}

                  div(class='col-xs-6')
                     select(class='form-control' data-ng-disabled='!selectedYear' data-ng-model="selectedWeek" data-ng-options='week for week in selectedYear.weeks')
                        option(value="") {{ 'common.week' | translate }}
      .row(data-ng-show='matches')
         .col-xs-12
            div(class='panel panel-default')
               .panel-body
                  .table-responsive
                     table(class='table')
                        thead
                           tr
                              th {{ 'common.date' | translate }}
                              th
                              th
                              th
                        tbody
                           tr(data-ng-repeat='match in matches')
                              td {{ match.datetime | date : 'dd-MM-yyyy, H:mm' }}
                              td(class='text-right')
                                 a(data-ui-sref='app.team({id: match.home_team.id})') {{ match.home_team.name }}
                              td(class='text-center')
                                 a(data-ui-sref='app.match({id: match.id})') {{ match.home_score }}:{{ match.away_score }}
                              td(class='text-left')
                                 a(data-ui-sref='app.team({id: match.away_team.id})') {{ match.away_team.name }}