.row
    .col-lg-12
        div(class='panel panel-default')
            .panel-heading Teams
            .panel-body
                .table-responsive
                    table(class='table table-striped table-bordered table-hover', show-filter="true", data-ng-table='tableParams')
                        tbody
                            tr(data-ng-repeat='team in $data')
                              td(data-title="'Name'", filter="{'name': 'text' }", sortable="'name'")
                                a(data-ui-sref="app.team({id: team.id})") {{ team.name }}
                              td(data-title="'Country'", filter="{'country': 'text' }", sortable="'country'") {{ team.country.name }}