.row
   div(class='col-md-4 col-md-offset-4')
      div(class='login-panel panel panel-default')
         .panel-heading
            h3(class='panel-title') {{ 'login.title' | translate }}
         .panel-body
            form(role='form', data-ng-submit="login(loginForm)" name='loginForm')
               fieldset
                  .form-group
                     input(class='form-control', data-ng-model='user.username', placeholder="{{ 'user.username' | translate }}", name='user', type='text' autofocus)
                  p(class='text-danger', data-ng-repeat='error in errors.username') {{ error }}
                  .form-group
                     input(class='form-control', data-ng-model='user.password',  placeholder="{{ 'user.password' | translate }}", name='password', type='password' value='')
                  p(class='text-danger', data-ng-repeat='error in errors.password') {{ error }}
                  p(class='text-danger', data-ng-repeat='error in errors.non_field_errors') {{ error }}
                  .form-group
                     button(type='submit', class='btn btn-lg btn-success btn-block') {{ 'login.login' | translate }}
                  a(ui-sref='page.registration') {{ 'login.not_registered' | translate }}