.row
   div(class='col-md-4 col-md-offset-4')
      div(class='login-panel panel panel-default')
         .panel-heading
            h3(class='panel-title') {{ 'registration.registration' | translate }}
         .panel-body
            form(role='form', data-ng-submit="registerNewUser(registrationForm)" name='registrationForm')
               fieldset
                  toaster-container
                  .form-group
                     label(for='username') {{ 'user.username' | translate }}
                     input(class='form-control', data-ng-model='user.username', name='username', id='username' type='text' autofocus)
                  p(class='text-danger', data-ng-repeat='error in errors.username') {{ error }}
                  .form-group
                           label(for='first_name') {{ 'user.first_name' | translate }}
                           input(
                              class='form-control',
                              id='first_name',
                              name='first_name',
                              data-ng-model='user.first_name'
                           )
                        p(data-ng-repeat='error in errors.first_name', class='text-danger') {{ error }}
                        .form-group
                           label(for='last_name') {{ 'user.last_name' | translate }}
                           input(
                              class='form-control',
                              id='last_name',
                              name='last_name',
                              data-ng-model='user.last_name'
                           )
                        p(data-ng-repeat='error in errors.last_name', class='text-danger') {{ error }}
                        .form-group
                           label(for='email') {{ 'user.email' | translate }}
                           input(
                              class='form-control',
                              id='email',
                              name='email',
                              data-ng-model='user.email'
                           )
                        p(data-ng-repeat='error in errors.email', class='text-danger') {{ error }}
                        .form-group
                           label(for='password') {{ 'user.password' | translate }}
                           input(
                              class='form-control',
                              id='password',
                              name='password',
                              data-ng-model='user.password',
                              type='password'
                           )
                        p(data-ng-repeat='error in errors.password', class='text-danger') {{ error }}
                        p(class='text-center text-danger', data-ng-repeat='error in errors.non_field_errors') {{ error }}
                        .form-group
                           button(type='submit', class='btn btn-lg btn-success btn-block') {{ 'registration.register' | translate }}
                        a(ui-sref='page.login') {{ 'registration.back_to_login' | translate }}