meta(charset="utf-8")
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport',content='width=device-width, initial-scale=1')
meta(name='description', content='')
meta(name='author', content='')

title='SureBet | {{ currentPageTitle }}'

link(href='static/css/bootstrap.min.css', rel='stylesheet')
link(href='static/css/plugins/metisMenu/metisMenu.min.css', rel='stylesheet')
link(href='static/css/sb-admin-2.css', rel='stylesheet')
link(href='static/font-awesome-4.1.0/css/font-awesome.min.css', rel='stylesheet')
link(href='static/css/plugins/loading-bar.css', rel='stylesheet')
link(href='static/css/plugins/toaster.css', rel='stylesheet')
link(href='static/css/app.css', rel='stylesheet')
link(href='static/css/ng-table.css', rel='stylesheet')