script(src='static/js/jquery.js')
script(src='static/js/bootstrap.min.js')
script(src='static/js/sb-admin-2.js')
script(src='static/js/plugins/metisMenu/metisMenu.min.js')
script(src='static/js/base.js')
script(src='static/js/app.js')
