div(class='navbar-default sidebar', role='navigation' data-ng-controller='SidebarController as sidebar')
    div(class='sidebar-nav navbar-collapse')
        ul(class='nav', id='side-menu', metis-menu)
            li
                a(data-ui-sref='app.dashboard')
                    i(class='fa fa-dashboard fa-fw')
                    |  {{ 'dashboard.dashboard' | translate }}
            li
                a(data-ui-sref='app.classifiers')
                    i(class='fa fa-share-alt fa-fw')
                    |  {{ 'classifiers.classifiers' | translate }}
            li
                a(data-ui-sref='app.predictions')
                    i(class='fa fa-bar-chart-o fa-fw')
                    |  {{ 'predictions.predictions' | translate }}
            li
                a(href='')
                    i(class='fa fa-bar-chart-o fa-fw')
                    |  {{ 'statistics.statistics' | translate }}
                    span(class='fa arrow')
                ul(class='nav nav-second-level')
                    li
                        a(data-ui-sref='app.teams') {{ 'teams.teams' | translate }}
                    li
                        a(data-ui-sref='app.players') {{ 'players.players' | translate }}
            li
                a(href='')
                    i(class='fa fa-trophy fa-fw')
                    |  {{ 'competitions.competitions' | translate }}
                    span(class='fa arrow')
                ul(class='nav nav-second-level')
                    li(data-ng-repeat='(key, value) in sidebar.leagues | groupBy: "country.name"')
                        a(data-ui-sref='app.standings({country_id: value[0].country.id})') {{ key }}