.navbar-header

   button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar

   a(class='navbar-brand' data-ui-sref='app.dashboard') SureBet

ul(class='nav navbar-top-links navbar-right' data-ng-controller='NotificationsController')

   li.dropdown
      a(class='dropdown-toggle', data-toggle='dropdown', href='')
         i(class='fa fa-bell fa-fw')
         i(class='fa fa-caret-down')
      ul(class='dropdown-menu dropdown-alerts')
         li(data-ng-class="{'background-gray': notification.unread == true}", data-ng-repeat='notification in notifications', data-ui-sref='app.notification({id: notification.id})')
            a(href='')
               div
                  i(class='fa fa-check fa-fw' data-ng-if="notification.level=='success'")
                  i(class='fa fa-info fa-fw' data-ng-if="notification.level=='info'")
                  |  {{ notification.description | truncate : 20 : '...' }}
                  span(class='pull-right text-muted small') {{ notification.timestamp | date: 'MMM d, H:mm'  }}
         li.divider
         li
            a(class='text-center', data-ui-sref='app.notifications')
               strong {{ 'notifications.see_all' | translate }}

   li.dropdown
      a(class='dropdown-toggle', data-toggle='dropdown', href='')
         i(class='fa fa-user fa-fw')
         |  {{ loggedUser.email }}&nbsp;
         i(class='fa fa-caret-down')
      ul(class='dropdown-menu dropdown-user', data-ng-controller='AccountController')
         li
            a(href='', data-ui-sref='app.profile')
               i(class='fa fa-user fa-fw')
               |  {{ 'profile.user_profile' | translate }}
         li.divider
         li
            a(href='', data-ng-click='logout()')
               i(class='fa fa-sign-out fa-fw')
               |  {{ 'login.logout' | translate }}